@font-face {
  font-family: "BPG Nino Mtavruli Book";
  src: url("../fonts/bpg_nino_mtavruli_book.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mtavruli";
  src: url("../fonts/bpg_nino_mtavruli_normal.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mtavruli Bold";
  src: url("../fonts/bpg_nino_mtavruli_bold.ttf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mkhedruli Book";
  src: url("../fonts/bpg_nino_mkhedruli_book.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mkhedruli";
  src: url("../fonts/bpg_nino_mkhedruli_normal.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mkhedruli Bold";
  src: url("../fonts/bpg_nino_mkhedruli_bold.otf") format("truetype");
}

.body {
  margin: 0 auto;
  color: #313131;
  background: url("../img/background.png") center;
}

.container {
  margin: 60px auto 0 auto;
  padding: 20px 60px 70px 60px;
  max-width: 1080px;
  -webkit-box-shadow: -10px 0px 60px rgba(151, 149, 255, 0.4), 10px 0px 60px rgba(151, 149, 255, 0.4);
          box-shadow: -10px 0px 60px rgba(151, 149, 255, 0.4), 10px 0px 60px rgba(151, 149, 255, 0.4);
  background-color: #fff;
  font-family: "BPG Nino Mkhedruli", sans-serif;
}

.container:first-of-type {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
  .container {
    padding: 5px 30px 60px 30px;
  }
}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {
  .container {
    padding: 1px 20px 50px 20px;
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.title-text {
  position: relative;
  padding-top: 10px;
  color: #7371dc;
  font-size: 60px;
  font-weight: 100;
  white-space: pre;
  font-family: BPG Nino Mtavruli Book, sans-serif;
}

.title-hr {
  width: 50%;
  height: 1px;
  vertical-align: -20 px;
  border: none;
  background-color: #ffd15c;
}

.title-icon {
  height: 60px;
  text-align: right;
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .title-text {
    white-space: normal;
  }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
  .title-text {
    font-size: 40px;
    white-space: normal;
  }
  .title-hr {
    margin: 0 20px;
  }
  .title-icon {
    height: 40px;
  }
}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {
  .title-text {
    font-size: 30px;
    white-space: normal;
  }
  .title-icon {
    height: 30px;
  }
}

p {
  text-align: justify;
  font-size: 24px;
}

a {
  text-decoration: none;
}

.logo {
  text-align: center;
  background: #fff;
}

.logo-img {
  margin: 10px auto;
  padding-left: 20px;
  height: 45px;
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .logo-img {
    height: 40px;
  }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
  .logo-img {
    height: 35px;
  }
}

.navbar {
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #7371dc;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.navbar-link {
  position: relative;
  width: 150px;
  padding: 15px 0 10px 0;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-family: BPG Nino Mtavruli Bold, sans-serif;
}

.navbar-link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.footer {
  z-index: 1;
  padding: 15px 10px 10px 10px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background: #7371dc;
  font-family: BPG Nino Mtavruli Bold, sans-serif;
}
/*# sourceMappingURL=style.css.map */