@font-face {
  font-family: "BPG Nino Mtavruli Book";
  src: url("../fonts/bpg_nino_mtavruli_book.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mtavruli";
  src: url("../fonts/bpg_nino_mtavruli_normal.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mtavruli Bold";
  src: url("../fonts/bpg_nino_mtavruli_bold.ttf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mkhedruli Book";
  src: url("../fonts/bpg_nino_mkhedruli_book.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mkhedruli";
  src: url("../fonts/bpg_nino_mkhedruli_normal.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mkhedruli Bold";
  src: url("../fonts/bpg_nino_mkhedruli_bold.otf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

.body {
  margin: 0 auto;
  color: #313131;
  background: url("../img/background.png") center;
}

.section {
  margin: 50px 0;
}

.container {
  margin: 100px auto 0 auto;
  padding: 50px 60px;
  max-width: 1080px;
  min-height: 80vh;
  font-size: 24px;
  -webkit-box-shadow: -10px 0px 60px #b191ec88, 10px 0px 60px #b191ec88;
          box-shadow: -10px 0px 60px #b191ec88, 10px 0px 60px #b191ec88;
  background-color: #fff;
  font-family: "BPG Nino Mkhedruli", sans-serif;
}

.container:first-of-type {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
  .container {
    padding: 5px 30px 60px 30px;
  }
}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {
  .container {
    padding: 1px 20px 50px 20px;
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
}

.title-text {
  position: relative;
  color: #8558d9;
  font-size: 60px;
  font-weight: 100;
  white-space: pre;
  font-family: BPG Nino Mtavruli Book, sans-serif;
}

.title-icon {
  height: 55px;
}

.title-img {
  padding-top: 3px;
  height: 120px;
  border-radius: 99px;
}

.title-hr {
  position: relative;
  height: 1px;
  vertical-align: -20 px;
  border: none;
  background-color: #ffd139;
}

.title-hr:before {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #ffd139;
}

.title-hr:after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  right: 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #ffd139;
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .title-text {
    white-space: normal;
  }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
  .title-text {
    font-size: 40px;
    white-space: normal;
  }
  .title-hr {
    margin: 0 20px;
  }
  .title-icon {
    height: 40px;
  }
}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {
  .title-text {
    font-size: 30px;
    white-space: normal;
  }
  .title-icon {
    height: 30px;
  }
}

p {
  margin-top: 0;
  text-align: justify;
  font-size: 24px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #313131;
}

.logo {
  text-align: center;
  background: #fff;
}

.logo-img {
  margin: 10px auto;
  padding-left: 20px;
  height: 45px;
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .logo-img {
    height: 40px;
  }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
  .logo-img {
    height: 35px;
  }
}

.navbar {
  z-index: 99;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar-links {
  z-index: 99;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#c500c5), to(#8558d9));
  background: linear-gradient(90deg, #c500c5 0%, #8558d9 100%);
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.navbar-link {
  position: relative;
  width: 140px;
  padding: 15px 0 10px 0;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-family: BPG Nino Mtavruli Bold, sans-serif;
}

.navbar-link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.footer {
  z-index: 1;
  padding: 15px 10px 10px 10px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#c500c5), to(#8558d9));
  background: linear-gradient(90deg, #c500c5 0%, #8558d9 100%);
  font-family: BPG Nino Mtavruli Bold, sans-serif;
}

.author-writings {
  margin-bottom: 15px;
  padding: 15px 30px 30px 30px;
  border: 1px solid #8558d9;
  border-radius: 20px;
}

.author-writing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  border-bottom: 2px dotted #ffd139;
  font-size: 24px;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  font-family: BPG Nino Mtavruli, sans-serif;
}

.author-writing:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.author-writing-date {
  margin-left: 30px;
  text-align: right;
}

.writing-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.writing-info-block {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 5px 0;
  text-align: center;
}

.writing-info-title {
  color: #8558d9;
  font-family: BPG Nino Mtavruli, sans-serif;
}
/*# sourceMappingURL=style.css.map */