.Container {
    flex-grow: 1;
    margin: calc($header-height + 64px) auto 0 auto;
    padding-inline: 32px;
    max-width: $max-width;

    @include tablet {
        margin: calc($header-height + 48px) auto 0 auto;
        padding-inline: 24px;
    }

    @include mobile {
        margin: calc($header-height + 32px) auto 0 auto;
        padding-inline: 0;
    }
}

.Section {
    margin-block-end: 64px;

    @include tablet {
        margin-block-end: 48px;
    }

    @include mobile {
        margin-block-end: 32px;
    }

    &-Content {
        padding: 32px;
        border-radius: 16px;

        @include tablet {
            padding: 24px;
        }

        @include mobile {
            padding: 16px;
        }
    }
}
