@font-face {
	font-family: Mersad;
	font-style: normal;
	font-weight: 100;
	src: local('Mersad Thin'), local('Mersad-Thin'), url(../../fonts/mersad-thin.woff2) format('woff2');
}

@font-face {
	font-family: Mersad;
	font-style: normal;
	font-weight: 300;
	src: local('Mersad Light'), local('Mersad-Light'), url(../../fonts/mersad-light.woff2) format('woff2');
}

@font-face {
	font-family: Mersad;
	font-style: normal;
	font-weight: 400;
	src: local('Mersad Regular'), local('Mersad-Regular'), url(../../fonts/mersad-regular.woff2) format('woff2');
}

@font-face {
	font-family: Mersad;
	font-style: normal;
	font-weight: 500;
	src: local('Mersad Medium'), local('Mersad-Medium'), url(../../fonts/mersad-medium.woff2) format('woff2');
}

@font-face {
	font-family: Mersad;
	font-style: normal;
	font-weight: 700;
	src: local('Mersad Bold'), local('Mersad-Bold'), url(../../fonts/mersad-bold.woff2) format('woff2');
}

@font-face {
	font-family: Mersad;
	font-style: normal;
	font-weight: 900;
	src: local('Mersad Black'), local('Mersad-Black'), url(../../fonts/mersad-black.woff2) format('woff2');
}
