.author
    & .title
        z-index: 1
        position: relative
        border-radius: 20px
        background: linear-gradient(90deg, rgba($purple, 1) 0%, rgba($magenta, 1) 20%, rgba($orange, 1) 100%)
    &-img
        align-self: start
        height: 100px
        border-radius: 99px
    &-writings
        z-index: 0
        position: relative
        margin: -20px 0 0 0
        padding: 50px 30px 10px 30px
        border-bottom-left-radius: 20px
        border-bottom-right-radius: 20px
        background: linear-gradient(90deg, rgba($purple, 1) 0%, rgba($magenta, 1) 20%, rgba($orange, 1) 100%)
        &:before
            z-index: -2
            content: ''
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            margin: 0 1px 1px 1px
            border-radius: inherit
            background: #fff
    &-writing
        display: flex
        justify-content: space-between
        margin: 20px 0
        width: 100%
        border-bottom: 2px dotted $yellow
        font-size: 24px
        transition: 300ms ease
        +mt-regular
        &:first-of-type
            margin-top: 0
        &:hover
            transform: scale(1.01)
            transition: 300ms ease
        &-date
            margin-left: 30px
            text-align: right

// Landscape phones and smaller
@media screen and (max-width: 480px)
    .author
        &-img
            height: 90px
        &-writings
            padding: 30px 15px 5px 15px
        &-writing
            margin: 15px 0
            &:first-of-type
                margin-top: 10px

// Portrait phones and smaller
@media screen and (max-width: 370px)
    .author
        &-img
            height: 55px
