@font-face 
  font-family: "BPG Nino Mtavruli Book"
  src: url("/fonts/bpg_nino_mtavruli_book.otf") format("truetype")
@font-face 
  font-family: "BPG Nino Mtavruli"
  src: url("/fonts/bpg_nino_mtavruli_normal.otf") format("truetype")
@font-face
  font-family: "BPG Nino Mtavruli Bold"
  src: url("/fonts/bpg_nino_mtavruli_bold.ttf") format("truetype")
@font-face
  font-family: "BPG Nino Mkhedruli Book"
  src: url("/fonts/bpg_nino_mkhedruli_book.otf") format("truetype")
@font-face
  font-family: "BPG Nino Mkhedruli"
  src: url("/fonts/bpg_nino_mkhedruli_normal.otf") format("truetype")
@font-face
  font-family: "BPG Nino Mkhedruli Bold"
  src: url("/fonts/bpg_nino_mkhedruli_bold.otf") format("truetype")

@mixin mt-light
  font-family: BPG Nino Mtavruli Book, sans-serif
@mixin mt-regular
  font-family: BPG Nino Mtavruli, sans-serif
@mixin mt-bold
  font-family: BPG Nino Mtavruli Bold, sans-serif
@mixin mkh-light
  font-family: "BPG Nino Mkhedruli Book", sans-serif
@mixin mkh-regular
  font-family: "BPG Nino Mkhedruli", sans-serif
@mixin mkh-bold
  font-family: "BPG Nino Mkhedruli Bold", sans-serif
