html
    scroll-behavior: smooth

.body
    margin: 0 auto
    font-size: 24px
    color: $black
    background-color: $orange-lighter

//////////////////////////////////////////////////
// article
.article
    
//////////////////////////////////////////////////

//////////////////////////////////////////////////
// section
.section
    margin-top: 50px

// Landscape phones and smaller
@media screen and (max-width: 480px)
    .section
        margin-top: 30px
//////////////////////////////////////////////////

//////////////////////////////////////////////////
// container
.container
    margin: 50px auto
    padding: 50px
    max-width: 1100px
    min-height: 80vh
    border-radius: 20px
    background-color: #fff
    +mkh-regular

// Landscape phones and smaller
@media screen and (max-width: 480px)
    .container
        margin: 30px auto
        padding: 15px
//////////////////////////////////////////////////

//////////////////////////////////////////////////
// article titles
.title
    z-index: 0
    position: relative
    display: flex
    justify-content: space-between
    align-items: center
    margin: 0
    padding: 20px 15px 5px 20px
    height: 100%
    border-radius: 20px
    background: linear-gradient(90deg, rgba($purple, 1) 0%, rgba($magenta, 1) 20%, rgba($orange, 1) 100%)
    &-left
        display: flex
        flex-direction: column
        justify-content: space-between
        align-self: stretch
    &-text
        font-size: 60px
        color: #fff
        +mt-regular
    &-subtext
        margin-top: 10px
        font-size: 40px
        font-weight: 100
        color: #fff
        +mt-light
    &-icon
        margin-top: -15px
        height: 75px

// Portrait tablets and small desktops
@media screen and (min-width: 768px) and (max-width: 991px)
    .title
        &-text

// Landscape phones and portrait tablets
@media screen and (max-width: 767px)
    .title
        &-text

// Landscape phones and smaller
@media screen and (max-width: 480px)
    .title
        padding: 18px 15px 10px 15px
        &-text
            white-space: pre-line
            font-size: 30px
        &-subtext
            font-size: 20px
        &-icon
            margin-top: -10px
            height: 34px
//////////////////////////////////////////////////

//////////////////////////////////////////////////
// paragraphs
p
    margin: 0 0 15px 0
    line-height: 1.5
    &:last-child
        margin-bottom: 0

// Landscape phones and smaller
@media screen and (max-width: 480px)
    p
        font-size: 22px
//////////////////////////////////////////////////

//////////////////////////////////////////////////
// span
.BLACK
    +mt-regular
.purple
    color: $purple
    +mkh-regular
.PURPLE
    margin: 5px 0
    font-size: 22px
    color: $purple
    +mt-regular

// Landscape phones and smaller
// @media screen and (max-width: 480px)

// Portrait phones and smaller
@media screen and (max-width: 370px)
    span
        font-size: 20px
    .PURPLE
        font-size: 20px
//////////////////////////////////////////////////

//////////////////////////////////////////////////
// links
a
    text-decoration: none
    color: $black
//////////////////////////////////////////////////

//////////////////////////////////////////////////
// lists
ul
    margin-top: 0
    padding-left: 22px
    list-style: circle outside
    &:last-child
        margin-bottom: 0

li
    line-height: 1.5
    color: $purple
//////////////////////////////////////////////////

//////////////////////////////////////////////////
// buttons
button
    border: none
    &:visited, &:focus, &:active, &:hover
        outline: none
//////////////////////////////////////////////////
