.logo
    text-align: center
    background: #fff
    &-img
        margin: 10px auto 12px auto
        height: 45px
/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px)
    .logo-img
        height: 40px
/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px)
    .logo-img
        height: 35px

.navbar
    z-index: 99
    position: relative
    position: sticky
    top: 0
    &-links
        z-index: 99
        position: absolute
        top: 0
        display: flex
        justify-content: center
        width: 100%
        background: linear-gradient(90deg, rgba($purple, 1) 0%, rgba($magenta, 1) 40%, rgba($orange, 1) 100%)
    &-container
        display: flex
        align-content: center
    &-link
        position: relative
        width: 140px
        padding: 15px 0 10px 0
        text-align: center
        font-size: 18px
        color: #fff
        +mt-bold
        &:hover
            color: rgba(#fff, 0.8)
