.writing
    &-info
        display: flex
        margin: 0
        &-block
            flex-basis: 50%
            margin: 5px 0
            text-align: center
        &-title
            color: $purple
            +mt-regular
