.writing
    & .title
        z-index: 1
        position: relative
        border-radius: 20px
        background: linear-gradient(90deg, rgba($purple, 1) 0%, rgba($magenta, 1) 20%, rgba($orange, 1) 100%)
    &-info
        z-index: 0
        position: relative
        display: flex
        margin: -20px 0 0 0
        padding: 50px 30px 30px 30px
        border-bottom-left-radius: 20px
        border-bottom-right-radius: 20px
        background: linear-gradient(90deg, rgba($purple, 1) 0%, rgba($magenta, 1) 20%, rgba($orange, 1) 100%)
        &:before
            z-index: -2
            content: ''
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            margin: 0 1px 1px 1px
            border-radius: inherit
            background: #fff
        &-block
            flex-basis: 100%
            display: flex
            justify-content: center
            align-items: center
            margin: 0
            text-align: center
            &-name
                margin-right: 5px
    &-card
        overflow: hidden
        max-height: 45px
        border-radius: 20px
        transition: .5s
        &:not(:first-of-type)
            margin: 30px 0 0 0
        &-header
            z-index: 1
            position: relative
            border-radius: 20px
            background: linear-gradient(90deg, rgba($purple, 1) 0%, rgba($magenta, 1) 20%, rgba($orange, 1) 100%)
            cursor: pointer
        &-title
            margin: 0 auto
            padding: 15px 0 10px 0
            text-align: center
            font-size: 18px
            color: #fff
            +mt-bold
        &-button
            position: absolute
            top: 0
            right: 0
            padding: 15px 0 10px 0
            width: 45px
            height: 45px
            text-align: right
            font-size: 18px
            border: none
            background: url('/img/arrow.svg')
            background-size: cover
            outline: none
            cursor: pointer
            transition: .5s
            +mt-bold
            &:hover
                opacity: 0.5
            &-show
                transform: rotate(180deg)
                transition: .5s
        &-content
            z-index: 0
            position: relative
            margin-top: -20px
            padding: 50px 30px 30px 30px
            border-bottom-left-radius: 20px
            border-bottom-right-radius: 20px
            background: linear-gradient(90deg, rgba($purple, 1) 0%, rgba($magenta, 1) 20%, rgba($orange, 1) 100%)
            transform: translateY(-100%)
            transition: .5s
            &:before
                z-index: -1
                content: ''
                position: absolute
                top: 0
                right: 0
                bottom: 0
                left: 0
                margin: 0 1px 1px 1px
                border-radius: inherit
                background: #fff
            &-show
                transform: translateY(0)
                transition: .5s
    &-characters
        ul
            margin-bottom: 15px
            & span
                color: $black
    &-dictionary
        display: flex
        &-block
            flex-basis: 100%
            &-word
                margin: 5px 0

.na
    text-align: center
    color: rgba($purple, 0.4)
    +mt-bold

// Landscape phones and smaller
@media screen and (max-width: 480px)
    .writing
        &-info
            display: block
            padding: 30px 15px 5px 15px
            &-block
                display: flex
                justify-content: space-between
        &-card
            &-content
                padding: 30px 15px 15px 15px
        &-characters
            &-character
                &-name
                    text-align: center
        &-dictionary
            flex-direction: column
