
    &-line
        position: relative
        margin: 0
        width: 40px
        height: 1px
        border: none
        background-color: $yellow
        &:before
            z-index: 1
            position: absolute
            content: ""
            display: block
            top: -4px
            left: -5px
            width: 7px
            height: 7px
            border-radius: 50%
            background: #fff
            border: 1px solid $purple
        &:after
            z-index: 1
            position: absolute
            content: ""
            display: block
            top: -4px
            right: -5px
            width: 7px
            height: 7px
            border-radius: 50%
            background: #fff
            border: 1px solid $purple
    &-author
        position: relative
        display: flex
        align-items: center
        flex-grow: 1
        & a
            flex-grow: 1
            max-width: 370px
        &-bio
            display: flex
            flex-grow: 1
            justify-content: space-between
            margin: 30px 0
            padding: 20px
            max-height: 110px
            border: 1px solid $purple
            border-radius: 20px
            background-color: #ffffffe0
            transition: .5s
            &:hover
                border: 1px solid $orange
        &-info
            display: flex
            flex-direction: column
            justify-content: space-between
            &-name
                +mt-regular
            &-years
                margin-bottom: -5px
        &-writings
            flex-grow: 1
            margin: 15px 0
            padding: 5px 20px 20px 20px
            border: 1px solid $purple
            border-radius: 20px
            background-color: #fff
            transition: .5s
            &:hover
                border: 1px solid $orange
        &-writing
            display: flex
            justify-content: space-between
            margin-top: 20px
            border-bottom: 2px dotted $yellow
            font-size: 20px
            transition: 300ms ease
            +mt-regular
            &:hover
                transform: scale(1.01)
                transition: 150ms ease
            &-date
                text-align: right