{
    "tabWidth": 4,
    "singleQuote": true,
    "semi": true,
    "importOrder": [
        "^@/app/(?!ui/fonts|(.*)css)(.*)$",
        "^@/app/ui/(fonts|(.*)css)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ]
}
