{
    "plugins": [
        "prettier-plugin-tailwindcss",
        "@trivago/prettier-plugin-sort-imports"
    ],
    "useTabs": true,
    "tabWidth": 4,
    "singleQuote": true,
    "quoteProps": "preserve",
    "semi": false,
    "importOrder": [
        "^react(-dom)?$",
        "<THIRD_PARTY_MODULES>",
        "^components|context|types|supabaseClient",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
