{
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "useTabs": true,
    "tabWidth": 4,
    "singleQuote": true,
    "quoteProps": "preserve",
    "trailingComma": "none",
    "semi": false
}
