@font-face {
  font-family: "BPG Nino Mtavruli Book";
  src: url("../fonts/bpg_nino_mtavruli_book.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mtavruli";
  src: url("../fonts/bpg_nino_mtavruli_normal.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mtavruli Bold";
  src: url("../fonts/bpg_nino_mtavruli_bold.ttf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mkhedruli Book";
  src: url("../fonts/bpg_nino_mkhedruli_book.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mkhedruli";
  src: url("../fonts/bpg_nino_mkhedruli_normal.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mkhedruli Bold";
  src: url("../fonts/bpg_nino_mkhedruli_bold.otf") format("truetype");
}

.navbar-link-title-home {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.home-hero {
  margin-top: -60px;
  height: 700px;
  background-image: url("../img/books.jpg");
  background-size: cover;
  background-position: top;
}

.home-hero-container {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
}

.home-hero-title {
  display: inline-block;
  position: relative;
  margin: 0 0 0 -50px;
  text-align: left;
  height: 50%;
  color: #fff;
  overflow: hidden;
}

.home-hero-title:before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: 18px 0;
  height: 87%;
  border-left: 1px solid #fff;
  -webkit-box-shadow: 1px 0px 0 #7371dc, 2px 0px 0 #7371dc;
          box-shadow: 1px 0px 0 #7371dc, 2px 0px 0 #7371dc;
}

.home-hero-title-word {
  display: inline-block;
  padding: 15px 15px 0 30px;
  font-size: 70px;
  text-shadow: 3px 1px 0 #7371dc;
  font-family: BPG Nino Mtavruli Bold, sans-serif;
}

/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .home-hero-title {
    margin-left: 0px;
  }
  .home-hero-title:before {
    height: 86%;
  }
  .home-hero-title-word {
    font-size: 60px;
  }
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .home-hero-title {
    margin-left: 0px;
  }
  .home-hero-title:before {
    height: 84%;
  }
  .home-hero-title-word {
    font-size: 45px;
  }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
  .home-hero-title {
    margin: 30px 0 0 0;
    line-height: 1;
  }
  .home-hero-title:before {
    height: 82%;
  }
  .home-hero-title-word {
    padding: 18px 15px 0 30px;
    font-size: 40px;
  }
}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {
  .home-hero-title {
    margin: 25px 0 0 0;
    line-height: 1;
  }
  .home-hero-title:before {
    height: 84%;
  }
  .home-hero-title-word {
    font-size: 45px;
  }
}

.home-target-container {
  margin-top: -200px;
}

.home-target-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-target-item {
  padding: 20px;
  width: 180px;
  height: 300px;
  border: 1px solid #7371dc;
  border-radius: 20px;
  text-align: center;
}

.home-target-item-icon {
  padding: 20px 0;
  height: 90px;
}

.home-target-item-hr {
  width: 30%;
  height: 1px;
  border: none;
  background-color: #7371dc;
}

.home-target-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50%;
  font-family: BPG Nino Mtavruli, sans-serif;
}

.home-target-item-text p {
  margin: 0;
  text-align: center;
  font-size: 20px;
  line-height: normal;
}

/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .home-target-item {
    padding: 10px 20px 15px 20px;
    width: 150px;
  }
  .home-target-item-icon {
    height: 75px;
  }
  .home-target-item-text {
    font-size: 18px;
  }
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .home-target-container {
    margin-bottom: -30px;
  }
  .home-target-item {
    margin-bottom: 30px;
    width: 250px;
  }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
  .home-target-container {
    margin-bottom: -30px;
  }
  .home-target-item {
    margin-bottom: 30px;
  }
}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {
  .home-target-container {
    margin-bottom: -20px;
  }
  .home-target-item {
    margin: 0 auto 20px auto;
    padding: 5px 20px 10px 20px;
    width: 200px;
  }
}
/*# sourceMappingURL=style.css.map */