@font-face {
  font-family: "BPG Nino Mtavruli Book";
  src: url("/fonts/bpg_nino_mtavruli_book.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mtavruli";
  src: url("/fonts/bpg_nino_mtavruli_normal.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mtavruli Bold";
  src: url("/fonts/bpg_nino_mtavruli_bold.ttf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mkhedruli Book";
  src: url("/fonts/bpg_nino_mkhedruli_book.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mkhedruli";
  src: url("/fonts/bpg_nino_mkhedruli_normal.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mkhedruli Bold";
  src: url("/fonts/bpg_nino_mkhedruli_bold.otf") format("truetype");
}

.navbar-link-title-home {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.home-hero {
  z-index: -1;
  position: relative;
  margin-top: -120px;
  height: 100vh;
  background-image: url("/home/img/books.jpg");
  background-size: cover;
  background-position: top 120px left 50%;
}

.home-hero-container {
  position: absolute;
  top: 120px;
  right: 0;
  bottom: 0;
  left: 0;
  -ms-grid-columns: max-content auto;
      grid-template-columns: -webkit-max-content auto;
      grid-template-columns: max-content auto;
  -ms-grid-rows: max-content auto;
      grid-template-rows: -webkit-max-content auto;
      grid-template-rows: max-content auto;
  margin: 0 auto;
  min-height: 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -ms-grid;
  display: grid;
}

.home-hero-container:before, .home-hero-container:after {
  content: "";
  display: block;
  border: 1px solid #fff;
}

.home-hero-container:before {
  -ms-grid-row: 2;
  grid-row: 2;
  border-right: none;
  border-top: none;
}

.home-hero-container:after {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  border-left: none;
}

.home-hero-title {
  position: relative;
  display: inline-block;
  margin: -15px 0 0 -15px;
  padding: 15px 0 15px 15px;
  max-width: 100%;
  color: #fff;
  overflow: hidden;
}

.home-hero-title-word {
  margin-left: -15px;
  padding: 15px 15px 0 15px;
  font-size: 70px;
  line-height: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 1s;
  transition: 1s;
  font-family: BPG Nino Mtavruli Bold, sans-serif;
}

.home-hero-title-word:first-of-type {
  margin-top: -15px;
}

.home-hero-title-word:last-of-type {
  margin-bottom: -15px;
}

.home-hero-title-word-show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .home-hero-title-word {
    font-size: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .home-hero-title-word {
    font-size: 60px;
  }
}

@media screen and (max-width: 767px) {
  .home-hero-title-word {
    margin-bottom: 0;
    font-size: 60px;
  }
}

@media screen and (max-width: 480px) {
  .home-hero-container {
    padding: 30px;
  }
  .home-hero-title-word {
    font-size: 45px;
  }
}

@media screen and (max-width: 370px) {
  .home-hero-title-word {
    font-size: 40px;
  }
}

.home-target {
  z-index: 99;
}

.home-target-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-target-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  max-width: 180px;
  height: 270px;
  border: 1px solid #9600c6;
  border-radius: 20px;
  text-align: center;
  background-color: #fff;
}

.home-target-item-icon {
  height: 100px;
}

.home-target-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: BPG Nino Mtavruli, sans-serif;
}

.home-target-item-text p {
  text-align: center;
  font-size: 20px;
}

/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .home-target-item {
    padding: 10px 20px 15px 20px;
    width: 150px;
  }
  .home-target-item-icon {
    height: 75px;
  }
  .home-target-item-text {
    font-size: 18px;
  }
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .home-target-container {
    margin-bottom: -30px;
  }
  .home-target-item {
    margin-bottom: 30px;
    width: 250px;
  }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
  .home-target-container {
    margin-bottom: -30px;
  }
  .home-target-item {
    margin-bottom: 30px;
  }
}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {
  .home-target-container {
    margin-bottom: -20px;
  }
  .home-target-item {
    margin: 0 auto 20px auto;
    padding: 5px 20px 10px 20px;
    width: 200px;
  }
}
/*# sourceMappingURL=style.css.map */