.timeline
    &-block
        display: flex
    & .anchor
        margin-top: -120px
    &-period
        padding: 30px
        text-align: center
        font-size: 24px
        letter-spacing: 3px
        writing-mode: tb-rl
        transform: rotate(180deg)
        +mt-light
        &-between
            margin-right: 27px
            padding: 30px
    &-main
        position: relative
        padding: 15px 0
        border-left: 1px solid $purple
        &:before
            position: absolute
            content: ""
            display: block
            top: 0
            left: -6px
            width: 9px
            height: 9px
            border-radius: 50%
            background: #fff
            border: 1px solid $purple
        &:after
            position: absolute
            content: ""
            display: block
            bottom: 0
            left: -6px
            width: 9px
            height: 9px
            border-radius: 50%
            background: #fff
            border: 1px solid $purple
        &-between
            height: 80px
            border-left: 1px dashed $yellow
    &-line
        position: relative
        margin: 0
        width: 40px
        height: 1px
        border: none
        background-color: $yellow
        &:before
            position: absolute
            content: ""
            display: block
            top: -4px
            left: -5px
            width: 7px
            height: 7px
            border-radius: 50%
            background: #fff
            border: 1px solid $purple
        &:after
            position: absolute
            content: ""
            display: block
            top: -4px
            right: -5px
            width: 7px
            height: 7px
            border-radius: 50%
            background: #fff
            border: 1px solid $purple
    &-author
        position: relative
        display: flex
        align-items: center
        &-bio
            display: flex
            justify-content: space-between
            margin: 15px 0
            padding: 25px
            min-width: 320px
            max-height: 110px
            border: 1px solid $purple
            border-radius: 20px
        &-info
            display: flex
            flex-direction: column
            justify-content: space-between
            font-size: 24px
            &-name
                +mt-regular
            &-years
                +mkh-regular
        &-img
            margin-left: 30px
            width: 100px
            height: 100px
            border-radius: 99px
        &-writings
            min-width: 450px
            margin: 15px 0
            padding: 5px 20px 20px 20px
            border: 1px solid $purple
            border-radius: 20px
        &-writing
            display: flex
            justify-content: space-between
            margin-top: 20px
            border-bottom: 2px dotted $yellow
            font-size: 20px
            +mt-regular
            &-date
                margin-left: 30px
                text-align: right

.navbar:hover
    .navbar-anchors
        transform: translateY(100%)
        transition: all 300ms ease-in-out