.home-hero
    height: 700px
    background-image: url("../img/books.jpg")
    background-size: cover
    background-position: top
    &-container
        margin-top: 0
        box-shadow: none
        background: none
    &-title
        position: relative
        display: flex
        flex-direction: column
        margin: 0 0 0 -50px
        padding: 15px 0
        color: #fff
        overflow: hidden
        &:before
            z-index: 1
            content: ""
            position: absolute
            top: 15px
            bottom: 15px
            left: 0
            border-left: 1px solid #fff
        &-word
            padding: 15px 15px 0 30px
            font-size: 70px
            line-height: 100%
            text-shadow: 0 1px 15px $purple
            transform: translateX(-100%)
            transition: 1s
            +mt-bold
            &:first-of-type
                margin-top: -15px
            &:last-of-type
                margin-bottom: -16px
            &-show
                transform: translateY(0)

// Portrait tablets and medium desktops    
@media screen and (min-width: 992px) and (max-width: 1199px)
    .home-hero-title
        margin: -25px 0 0 0
        &-word
            font-size: 60px

// Portrait tablets and small desktops
@media screen and (min-width: 768px) and (max-width: 991px)
    .home-hero-title
        margin: -25px 0 0 0
        &-word
            font-size: 45px
            &:last-of-type
                margin-bottom: -12px

// Landscape phones and portrait tablets
@media screen and (max-width: 767px)
    .home-hero-title
        margin: -25px 0 0 0
        &-word
            font-size: 45px
            &:last-of-type
                margin-bottom: -12px

// Landscape phones and smaller
@media screen and (max-width: 480px)
    .home-hero-title
        margin: 0
        &-word
            padding-left: 15px
            font-size: 45px
