.home-target
    &-container
        margin-top: -100px
    &-section
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &-item
        padding: 20px
        width: 180px
        height: 300px
        border: 1px solid $purple
        border-radius: 20px
        text-align: center
        &-icon
            padding: 20px 0
            height: 90px
        &-hr
            width: 30%
            height: 1px
            border: none
            background-color: $purple
        &-text
            display: flex
            flex-direction: column  
            justify-content: space-around
            height: 50%
            +mt-regular
            & p
                text-align: center
                font-size: 20px

    
/* Portrait tablets and medium desktops */    
@media screen and (min-width: 992px) and (max-width: 1199px)
    .home-target
        &-item
            padding: 10px 20px 15px 20px
            width: 150px
            &-icon
                height: 75px
            &-text
                font-size: 18px

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px)
    .home-target
        &-container
            margin-bottom: -30px
        &-item
            margin-bottom: 30px
            width: 250px


/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px)
    .home-target
        &-container
            margin-bottom: -30px
        &-item
            margin-bottom: 30px

/* Landscape phones and smaller */
@media screen and (max-width: 480px)
    .home-target
        &-container
            margin-bottom: -20px
        &-item
            margin: 0 auto 20px auto
            padding: 5px 20px 10px 20px
            width: 200px
