.WritingsList {
    &-Wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-auto-rows: 1fr;
        gap: 32px;

        @include mobile {
            padding-inline: 12px;
            gap: 12px;
        }
    }
}
