@font-face {
  font-family: "BPG Nino Mtavruli Book";
  src: url("../fonts/bpg_nino_mtavruli_book.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mtavruli";
  src: url("../fonts/bpg_nino_mtavruli_normal.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mtavruli Bold";
  src: url("../fonts/bpg_nino_mtavruli_bold.ttf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mkhedruli Book";
  src: url("../fonts/bpg_nino_mkhedruli_book.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mkhedruli";
  src: url("../fonts/bpg_nino_mkhedruli_normal.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mkhedruli Bold";
  src: url("../fonts/bpg_nino_mkhedruli_bold.otf") format("truetype");
}

.navbar-link-title-timeline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.navbar-anchors {
  z-index: 98;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(115, 113, 220, 0.8)), to(rgba(204, 3, 204, 0.8)));
  background: linear-gradient(90deg, rgba(115, 113, 220, 0.8) 0%, rgba(204, 3, 204, 0.8) 100%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.timeline-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timeline .anchor {
  margin-top: -120px;
}

.timeline-period {
  padding: 30px;
  text-align: center;
  font-size: 24px;
  letter-spacing: 3px;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-family: BPG Nino Mtavruli Book, sans-serif;
}

.timeline-period-between {
  margin-right: 27px;
  padding: 30px;
}

.timeline-main {
  position: relative;
  padding: 15px 0;
  border-left: 1px solid #7371dc;
}

.timeline-main:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: -6px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #7371dc;
}

.timeline-main:after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: -6px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #7371dc;
}

.timeline-main-between {
  height: 80px;
  border-left: 1px dashed #ffd15c;
}

.timeline-line {
  position: relative;
  margin: 0;
  width: 40px;
  height: 1px;
  border: none;
  background-color: #ffd15c;
}

.timeline-line:before {
  z-index: 1;
  position: absolute;
  content: "";
  display: block;
  top: -4px;
  left: -5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #7371dc;
}

.timeline-line:after {
  z-index: 1;
  position: absolute;
  content: "";
  display: block;
  top: -4px;
  right: -5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #7371dc;
}

.timeline-author {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline-author-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0;
  padding: 25px;
  min-width: 320px;
  max-height: 110px;
  border: 1px solid #7371dc;
  border-radius: 20px;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.timeline-author-bio:hover {
  -webkit-box-shadow: 0 5px 15px rgba(115, 113, 220, 0.4);
          box-shadow: 0 5px 15px rgba(115, 113, 220, 0.4);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.timeline-author-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
}

.timeline-author-info-name {
  font-family: BPG Nino Mtavruli, sans-serif;
}

.timeline-author-info-years {
  font-family: "BPG Nino Mkhedruli", sans-serif;
}

.timeline-author-img {
  margin-left: 30px;
  width: 100px;
  height: 100px;
  border-radius: 99px;
}

.timeline-author-writings {
  min-width: 450px;
  margin: 15px 0;
  padding: 5px 20px 20px 20px;
  border: 1px solid #7371dc;
  border-radius: 20px;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.timeline-author-writings:hover {
  -webkit-box-shadow: 0 5px 15px rgba(115, 113, 220, 0.4);
          box-shadow: 0 5px 15px rgba(115, 113, 220, 0.4);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.timeline-author-writing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  border-bottom: 2px dotted #ffd15c;
  font-size: 20px;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  font-family: BPG Nino Mtavruli, sans-serif;
}

.timeline-author-writing:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.timeline-author-writing-date {
  margin-left: 30px;
  text-align: right;
}

.navbar:hover .navbar-anchors {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/*# sourceMappingURL=style.css.map */