@font-face {
  font-family: "BPG Nino Mtavruli Book";
  src: url("../fonts/bpg_nino_mtavruli_book.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mtavruli";
  src: url("../fonts/bpg_nino_mtavruli_normal.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mtavruli Bold";
  src: url("../fonts/bpg_nino_mtavruli_bold.ttf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mkhedruli Book";
  src: url("../fonts/bpg_nino_mkhedruli_book.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mkhedruli";
  src: url("../fonts/bpg_nino_mkhedruli_normal.otf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mkhedruli Bold";
  src: url("../fonts/bpg_nino_mkhedruli_bold.otf") format("truetype");
}

.navbar-link-title-timeline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.timeline-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timeline-period-mobile {
  display: none;
}

.timeline-period span {
  position: -webkit-sticky;
  position: sticky;
  top: 45px;
  left: 45px;
  padding: 30px;
  text-align: right;
  font-size: 24px;
  letter-spacing: 3px;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  color: #8558d9;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-family: BPG Nino Mtavruli, sans-serif;
}

.timeline-period-between {
  margin-right: 27px;
  padding: 30px;
}

.timeline-main {
  position: relative;
  border-left: 1px solid #8558d9;
}

.timeline-main:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: -6px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #8558d9;
}

.timeline-main:after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: -6px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #8558d9;
}

.timeline-main-between {
  height: 80px;
  border-left: 1px dashed #ffd139;
}

.timeline-line {
  position: relative;
  margin: 0;
  width: 40px;
  height: 1px;
  border: none;
  background-color: #ffd139;
}

.timeline-line:before {
  z-index: 1;
  position: absolute;
  content: "";
  display: block;
  top: -4px;
  left: -5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #8558d9;
}

.timeline-line:after {
  z-index: 1;
  position: absolute;
  content: "";
  display: block;
  top: -4px;
  right: -5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #8558d9;
}

.timeline-author {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline-author-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0;
  padding: 20px;
  min-width: 320px;
  max-height: 110px;
  border: 1px solid #8558d9;
  border-radius: 20px;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.timeline-author-bio:hover {
  -webkit-box-shadow: 0 5px 15px #b191ecad;
          box-shadow: 0 5px 15px #b191ecad;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.timeline-author-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
}

.timeline-author-info-name {
  font-family: BPG Nino Mtavruli, sans-serif;
}

.timeline-author-info-years {
  font-family: "BPG Nino Mkhedruli", sans-serif;
}

.timeline-author-img {
  margin-left: 30px;
  width: 100px;
  height: 100px;
  border-radius: 99px;
}

.timeline-author-writings {
  min-width: 450px;
  margin: 15px 0;
  padding: 5px 20px 20px 20px;
  border: 1px solid #8558d9;
  border-radius: 20px;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.timeline-author-writings:hover {
  -webkit-box-shadow: 0 5px 15px #b191ecad;
          box-shadow: 0 5px 15px #b191ecad;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.timeline-author-writing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  border-bottom: 2px dotted #ffd139;
  font-size: 20px;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  font-family: BPG Nino Mtavruli, sans-serif;
}

.timeline-author-writing:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 150ms ease;
  transition: 150ms ease;
}

.timeline-author-writing-date {
  margin-left: 30px;
  text-align: right;
}

.anchor {
  margin-top: -100px;
}

@media screen and (max-width: 480px) {
  .timeline-block:first-of-type {
    margin-top: 50px;
  }
  .timeline-period {
    display: none;
  }
  .timeline-period-mobile {
    z-index: 90;
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    display: block;
    margin: 0 -1px 0 -1px;
    padding-top: 30px;
    width: 100%;
    height: 30px;
    border-left: 1px solid #8558d9;
    background-color: #fff;
  }
  .timeline-period-mobile-space {
    position: relative;
    margin: 0 -1px;
    width: 100%;
    height: 20px;
    border-top: 1px solid #8558d9;
    border-left: 1px solid #8558d9;
    border-top-left-radius: 20px;
    background-color: #fff;
  }
  .timeline-period-mobile span {
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 50px;
    width: 80%;
  }
  .timeline-period-mobile:before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 5px;
    left: 30px;
    right: 0;
    display: block;
    height: inherit;
    background: #fff;
  }
  .timeline-period-mobile:after {
    z-index: 2;
    position: absolute;
    content: "";
    display: block;
    top: 25px;
    left: 25px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #8558d9;
  }
  .timeline-period-between {
    margin: 0;
    padding: 0;
  }
  .timeline-main {
    margin-top: -20px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
  }
  .timeline-main:before {
    z-index: 92;
  }
  .timeline-main:after {
    z-index: 92;
  }
  .timeline-line:before {
    z-index: 92;
  }
  .timeline-author > .timeline-line {
    width: 30px;
  }
  .timeline-author > .timeline-line:last-of-type {
    display: none;
  }
  .timeline-author a {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .timeline-author-bio {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 15px;
    min-width: 0;
  }
  .timeline-author-img {
    margin: 0;
  }
  .timeline-author-writings {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */