@import '../../colors.scss';
@import '../../fonts.scss';

.navbar {
	z-index: 98;
	position: fixed;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
	height: 45px;
	background: $gradient;
	transition: .5s;

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 0;
	}

	&-link {
		flex-basis: 20%;
		padding-top: 2px; 
		@include mt-bold;
		font-size: 18px;
		text-align: center;
		text-decoration: none;
		color: white;
	}
}

//     &-title
//         position: relative
//         padding-top: 5px
//         &-hr
//             position: absolute
//             top: 0
//             right: 0
//             bottom: -1px
//             left: 0
//             border-bottom: 1px solid #fff
//             transform: translateX(150%)
//             transition: .5s
//             &-show
//                 transform: translateX(0)
//         &-active
//             border-bottom: 1px solid #fff
// &-anchors
//     z-index: 98
//     margin-top: -45px
//     background: linear-gradient(90deg, rgba($purple, 0.8) 0%, rgba($magenta, 0.8) 20%, rgba($orange, 0.8) 100%)
//     transition: 1.5s
//     &-container
//         justify-content: center
//     &-show
//         transform: translateY(100%)
//         transition: .5s