@import './colors.scss';
@import './fonts.scss';

:root {
	// @include mkh;
	font-size: 24px;
	color: $black
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	overflow-y: scroll;
}

.app {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	min-height: 100vh;
	background-color: $background;
	transition: .5s;
}

.container {
	flex-grow: 1;
	margin: 20px auto 0 auto;
	max-width: 1100px;
	width: 100%;
}

.section {
	margin: 40px 0;
	padding: 40px;
	border-radius: 20px;
	background-color: #fff;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: $black;
	cursor: pointer;
}
