@import 'colors.scss';
@import 'fonts.scss';

.author-card {
	position: relative;
	display: flex;
	align-items: center;
	flex-grow: 1;

	hr {
		margin: 0;
		width: 40px;
		height: 1px;
		border: none;
		background-color: $yellow;
	}

	a {
		flex-grow: 1;
		max-width: 370px;
	}

	&-bio {
		display: flex;
		flex-grow: 1;
		justify-content: space-between;
		margin: 30px 0;
		padding: 20px;
		max-height: 110px;
		border: 1px solid $purple;
		border-radius: 20px;
		background-color: #ffffffe0;
		transition: .5s;

		&-info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			&-name {
				@include mt;
			}

			&-year {
				margin-bottom: -5px;
			}
		}

		&-img {
			align-self: start;
			height: 100px;
			border-radius: 99px;
		}

		&:hover {
			border: 1px solid $orange;
		}
	}

	&-writings {
		flex-grow: 1;
		margin: 15px 0;
		padding: 5px 20px 20px 20px;
		border: 1px solid $purple;
		border-radius: 20px;
		background-color: #fff;
		transition: .5s;

		&:hover {
			border: 1px solid $orange;
		}
	}

	&-writing {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		@include mt;
		font-size: 0.9rem;
		border-bottom: 2px dotted $yellow;
		transition: 300ms ease;

		&:hover {
			transform: scale(1.01);
			transition: 0.5s;
		}
	}
}