$black: #313131;
$yellow: #FFE338;
$purple-light: #c77cdf;
$purple: #9600C6;
$magenta: #b500c5;
$blue: #7371dc;
$orange: #ffa126;
$background: rgba(255, 227, 56, 0.2);
$gradient: linear-gradient(90deg, rgba($purple, 1) 0%, rgba($magenta, 1) 20%, rgba($orange, 1) 100%);