@import 'colors.scss';
@import 'fonts.scss';

.heading {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 0 50px 0;
	padding: 30px 30px 15px 30px;
	border-radius: 20px;
	background: $gradient;

	&-left {
		display: flex;
		flex-direction: column;
	}

	&-text {
		@include mt-bold;
		font-size: 60px;
		color: #fff;
	}

	&-subtext {
		@include mt-book;
		margin: 0 0 5px 0;
		font-size: 35px;
		font-weight: 100;
		color: #fff;
	}

	&-image {
		max-height: 90px;
		height: 100%;
		border-radius: 99px;
	}
	
	&-image[src$=".svg"] {
		margin-top: -10px;
		height: 75px;
	}
}