.header {
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
	height: 60px;
	background: #fff;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 0;
	}

	.logo {
		margin-bottom: 5px;
		height: 55%;

		img {
			height: 100%;
		}
	}
}

/*        &-menu
        visibility: hidden
        margin: 0
        padding: 0
        width: 35px
        height: 45px
        &-colored
            display: none
    &-search
        align-self: center
        display: block
        margin: 0
        padding: 0
        width: 35px
        height: 35px
        border: none
        background: url('/img/search.svg')
        background-size: cover
        &-colored
            display: none
    &-hr
        display: none
    & a
        // height: 65px



/* Landscape phones and portrait tablets */
/* @media screen and (max-width: 767px)
    .logo
        &-img
            height: 35px

// Landscape phones and smaller
@media screen and (max-width: 480px)
    .logo
        position: sticky
        top: 0
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0 20px
        height: 60px
        &-img
            height: 30px
        &-menu
            display: none
            &-colored
                display: block
                width: 40px
                height: 40px
                background: url('/img/menu_colored.svg')
                background-size: cover
                &-close
                    background: url('/img/close.svg')
                    background-size: cover
        &-search
            display: none
            &-colored
                display: block
                width: 40px
                height: 40px
                background: url('/img/search_colored.svg')
                background-size: cover
        &-hr
            position: absolute
            bottom: -1px
            left: 0
            display: block
            margin: 0
            width: 100%
            height: 1px
            border: none
            background: linear-gradient(90deg, rgba($purple, 1) 0%, rgba($magenta, 1) 20%, rgba($orange, 1) 100%)

    .navbar
        z-index: 98
        position: fixed
        top: 60px
        left: 0
        align-items: stretch
        height: 135px
        border-bottom-left-radius: 20px
        border-bottom-right-radius: 20px
        transform: translateY(-150%)
        transition: .5s
        &-container
            justify-content: center
        &-links
            flex-direction: column
        &-show
            transform: translateY(0)
        &-anchors
            display: none */