@import './colors.scss';
@import './fonts.scss';

:root {
	@include mkh;
	font-size: 24px;
	color: $black
}

body {
	margin: 0;
}

.app {
	padding-top: 40px;
	background-color: $background;
	transition: .5s;
}

.container {
	flex-grow: 1;
	margin: 60px auto 0 auto;
	max-width: 1100px;
}

.section {
	margin: 40px 0;
	padding: 40px;
	border-radius: 20px;
	background-color: white;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: $black;
	cursor: pointer;
}